/* ===== COLORS ===== */
$color__blue__dark: #164580;
$color__blue__light: #00AEEF;
$color__green__light: #99CC33;
$color__grey: #E1E1E1;
$color__grey__dark: #999999;
$color__grey__meddark: #878787;
$color__grey__darker: #444444;
$color__grey__light: #E5EBEB;
$color__grey__medlight: #AAAAAA;
$color__white: #FFFFFF;
$color__tres__tan: #f9c8a9;

/* ===== FONT FAMILY ===== */
$font-family__open-sans__regular: "open_sansregular", Arial, sans-serif;
$font-family__open-sans__bold: "open_sansbold", Arial, sans-serif;
$font-family__open-sans__semibold: "open_sanssemibold", Arial, sans-serif;

/* ===== FONT WEIGHT ===== */
$font-weight__bold: 800;

/* ===== MEDIA QUERY ===== */
$mq__tablet: 640px;
$mq__desktop: 1024px;
